{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="/static/css/valio.css">

<script>


</script>


{% endblock %}


{% block body %}

<style>
.grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: start;
  display:flex;
  padding:10px 5vw;
  flex-wrap:wrap;
  justify-content: center;
  margin: 0 auto;

  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  min-height:200px; cursor:pointer; width:20vw;
  min-width:300px;
}
.grid > article img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }

</style>

<main class="grid">
    {% for i in range(0,data|length) %}
    {% if data[i] %}
    <article onclick="window.location.href='/recipe/{{data[i].id}}/'">
        <img src="{{data[i].img}}" alt="What the item looks like after it has been prepared.">
        <div class="text" style="padding-top:10px">
          <h2 class="Header2-sc-s4djmv dguPRK medium-header" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:100%; ">{{data[i].name}}</h2>
          <p class="hMilHP">{{data[i].saves}} saves</p>
        </div>
    </article>
    {% endif %}

    {% endfor %}
</main>

{% endblock %}