<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon    -->
    <link rel="icon" type="image/x-icon" href="/static/favicon/food.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %}{% endblock %}</title>
    {% block custom_css %}{% endblock %}


</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" style="position: relative; background-color:#ffff00;">
    <div class="container">
        <a class="navbar-brand" href="/">Recipe App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item disable-list">
                    <a class="nav-link" href="/recipe/"  style="color:#ad2831;">Browse Recipes</a>
                </li>
                <li class="nav-item disable-list">
                    <a class="nav-link" href="/recipe/create/" style="color:#ad2831;">Create</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item disable-list">
                    <a class="nav-link" href="/recipe/saved/" style="color:#ad2831;">Saved</a>
                </li>
                {% endif %}
            </ul>
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                    <a href="/account/logout" title="Logout"><i class="fa fa-sign-out" style="color:#ad2831;"></i></a>
                {% else %}

                    <a class="nav-link" href="/account/login" style="color:#ad2831;">
                        Sign in</a>
                    <a class="nav-link" href="/account/register" style="color:#ad2831;">
                        Register</a>
                {% endif %}
                <a class="nav-link" href="https://github.com/JesperKauppinen/recipe-web-app" target="_blank" title="Github" style="color:#ad2831;"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</nav>
{% block body %}

{% endblock %}

</body>
</html>