{% extends 'base.html' %}
{% block title %}Login - RecipeApp{% endblock %}


{% block body %}
    <style>
        body {
            color: white;
        }
    </style>
    <div class="centered">
        <h1>Login</h1>
        <form method="post">
            <h3>username:</h3>
            <input type="text" name="username" placeholder="Type your username here" required>
            <h3>password:</h3>
            <input type="password" name="password" placeholder="Type your password here" required>
            <br>
            <br>
            <button class="btn btn-primary">Login</button>

        </form>
    </div>
{% endblock %}