{% extends 'base.html' %}

{% block title %}{{ ingredients.dish_name }}{% endblock %}


{% block body %}
    <script src=""></script>
    <div class="flex">
        <div class="row">
            <div class="half">
                <div class="image">
                    <img alt="{{ ingredients.dish_name }}"
                         src="{{ ingredients.img_url }}"
                    />
                </div>
                <div class="content">
                    <h1 class="recipe-header">{{ ingredients.dish_name }}</h1>
                    <p>{{ ingredients.description }}</p>
                </div>
            </div>
            <div class="half">
                <div class="info">
                    <h3>Timing and Difficulty</h3>
                    <br>
                    <dl class="timing">
                        <dt>Preparation time</dt>
                        <dd>{{ ingredients.prep_time }}</dd>
                        <dt>cooking time</dt>
                        <dd>{{ ingredients.cook_time }}</dd>
                        <dt>total time</dt>
                        <dd>{{ ingredients.total_time }}</dd>
                    </dl>
                    <br>
                    <dl class="difficulty">
                        <dt>Difficulty</dt>
                        <dd>
                            <span>{{ ingredients.difficulty }}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div>
            <div class="interactions">
                {% if ingredients.saved %}
                    <button class="btn btn-danger" type="button"
                            onclick="window.location.href = '/recipe/{{ ingredients.id }}/unsave/'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                             class="svg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                        </svg>
                        Saved
                    </button>
                {% else %}
                    <button class="btn btn-danger" type="button"
                            onclick="window.location.href = '/recipe/{{ ingredients.id }}/save/'">
                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 26 26">
                            <path fill="#FFF"
                                  d="M6.82 4a4.79 4.79 0 0 0-3.411 1.413 4.83 4.83 0 0 0 0 6.821l9.588 9.587 9.587-9.587a4.828 4.828 0 0 0 0-6.821A4.787 4.787 0 0 0 19.174 4c-1.289 0-2.5.501-3.411 1.413l-2.059 2.058a.999.999 0 0 1-1.414 0l-2.059-2.058A4.788 4.788 0 0 0 6.82 4m6.177 20.235a.993.993 0 0 1-.707-.293L1.995 13.648a6.831 6.831 0 0 1 0-9.649A6.776 6.776 0 0 1 6.82 2c1.823 0 3.536.709 4.825 1.999l1.352 1.351 1.352-1.351A6.772 6.772 0 0 1 19.174 2c1.822 0 3.536.709 4.824 1.999a6.831 6.831 0 0 1 0 9.649L13.704 23.942a.995.995 0 0 1-.707.293"></path>
                        </svg>
                        Save
                    </button>
                {% endif %}

                <button class="btn btn-secondary" type="button" onclick="window.print()">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 26 26">
                        <path fill="#FFF"
                              d="M22 2c1.103 0 2 .897 2 2v20c0 1.103-.897 2-2 2H4c-1.103 0-2-.897-2-2V4c0-1.103.897-2 2-2h3V1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v1h3zm0 22V4h-3c0 1.103-.897 2-2 2H9c-1.103 0-2-.897-2-2H4v20h18zM9 4h8V2H9v2z"></path>
                        <path fill="#FFF"
                              d="M8 10a1 1 0 1 0 0 2 1 1 0 0 0 0-2M18 10h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2M8 14a1 1 0 1 0 0 2 1 1 0 0 0 0-2M18 14h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2M8 18a1 1 0 1 0 0 2 1 1 0 0 0 0-2M18 18h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2"></path>
                    </svg>
                    Print
                </button>

                <button class="btn btn-dark" type="button" onclick="copy_url()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14">
                        <path fill="#FFF"
                              d="M8 4C2.8 4 0 7.8 0 14C1.5 11.6 2.7 10 8 10V14L16 7L8 0V4Z"></path>
                    </svg>
                    Copy url
                </button>
            </div>
        </div>

        <div class="row">
            <div class="half">
                <h2>
                    Ingredients
                    <span style="margin-left: 3rem; white-space: nowrap">
                    <button class="btn-ingredient" aria-label="-" type="button" onclick="alert('this will be added later')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                    <title>-</title>
                    <rect fill="#fff" x="5" y="12" width="16" height="2" rx="1"></rect>
                </svg>
            </button>
            <span class="serving"><label
                    id="serving_span">{{ ingredients.serving }}</label> serving
            </span>
            <button class="btn-ingredient" aria-label="+" type="button"
                    onclick="increase('{{ ingredients.serving }}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                    <title>+</title>
                    <path fill="#fff" d="M6 12h14a1 1 0 0 1 0 2H6a1 1 0 0 1 0-2z"></path>
                    <path fill="#fff" d="M14 6v14a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0z"></path>
                </svg>
            </button>
        </span>
                </h2>
                <table class="IngredientsTable-sc-1elxpzj kZEQjw">
                    {% for i in range(ingredients.menu|length) %}
                        <tbody>
                        <tr>
                            <th colSpan="2">
                                <div class="pad-bot-1"></div>
                                <h3 class="recipe">{{ ingredients.menu[i].name }}</h3>
                                <div class="pad-bot-1"></div>
                            </th>
                        </tr>
                        {% for j in range(ingredients.menu[i].ingredients|length) %}
                            <tr>
                                <td style="text-align: right; padding: 5px 15px;">
                                    <span class="ing_amount"> {{ ingredients.menu[i].ingredients[j].amount }} </span>
                                    <span class="ing_unit"> {{ ingredients.menu[i].ingredients[j].unit }} </span>
                                </td>
                                <td>
                                    <div>
                                        {{ ingredients.menu[i].ingredients[j].ingredient }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="half">
                <h2>Instruction</h2>
                <ol>

                    {% for i in range(ingredients.instructions|length) %}
                        <li style="list-style-type: none;">
                            <div style="display: flex; padding-bottom: 10px">
                                <div style="text-align: left; width: 30px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 12 12">
                                        <circle fill="#eee" cx="6" cy="6" r="6"></circle>
                                    </svg>
                                </div>
                                <div class="instruction">
                                    {{ ingredients.instructions[i] }}
                                </div>
                            </div>
                        </li>

                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
